<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration verbose="true">
	<Appenders>
		<Console name="console-trace" target="SYSTEM_ERR" immediateFlush="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" charset="UTF-8" />
			<ThresholdFilter level="INFO" onMatch="DENY" onMismatch="ACCEPT" />
		</Console>
		<Console name="console-info" target="SYSTEM_ERR" immediateFlush="true">
			<PatternLayout pattern="%m%n" charset="UTF-8" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
				<ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="TRACE" onMatch="DENY" onMismatch="NEUTRAL" />
			</Filters>
		</Console>
		<Console name="console-error" target="SYSTEM_ERR" immediateFlush="true">
<!--			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" charset="UTF-8" />-->
			<PatternLayout pattern="%m%n" charset="UTF-8" />
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="console-trace" />
			<AppenderRef ref="console-info" />
			<AppenderRef ref="console-error" />
		</Root>
	</Loggers>
</Configuration>