on:
  push:
    tags:
    - "v*"
name: Deploy Tagged Release
jobs:
  deploy-to-nexus:
    name: Build and Publish Java Artifacts
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.0.2
      with:
        token: ${{ github.token }}
        submodules: recursive
        fetch-depth: 0
    # -------------------------
    # Java JDK 11
    - name: Set up JDK 11
      uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.3.0
      with:
        java-version: 11
        distribution: 'temurin'
        cache: 'maven'
        settings-path: ${{ github.workspace }}
        server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: MAVEN_USERNAME # env variable for username in deploy
        server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }} # Value of the GPG private key to import
        gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase
    # -------------------------
    # Maven Site
    # -------------------------
#    - name: Build Website
#      run: |
#          mvn -Preporting -Prelease package site site:stage
#      working-directory: ${{ env.REPO_PATH }}
#    - name: Run deploy script
#      run: |
#        touch target/staging/.nojekyll
#        bash .github/workflows/deploy.sh --push-only -v -m "Deploying website [ci skip]"
    # -------------------------
    # Maven Deploy
    # -------------------------
    - name: Deploy Maven Artifacts
      run: |
        mvn -s $GITHUB_WORKSPACE/settings.xml -Pgpg -Prelease -Preporting deploy
        # mvn -Pgpg -Prelease nexus-staging:close -DstagingDescription="closing to release"
      env:
        MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
    - name: Archive binaries
      uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
      with:
        name: binary-artifacts
        path: |
          cli-core/target/*.zip
          cli-core/target/*.bz2